
/* Your CSS Code here. */
.holder>div{
	width : 10vw;
	height : 10vh;
	background-color : black;
	color : white;
	text-align : left;
	font-size : 5vw;
}
.holder{
	display : flex;
	justify-content : space-between;
	flex-direction : row;
	flex-wrap : wrap;
}